// button login
.btn-login {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 1.5rem 2rem rgba(black, 0.1);

  &__out {
    color: #fff;
    text-align: center;
    padding: 1.3rem 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;

    &::after {
      background-color: darkcyan;
    }

    &::before {
      background-color: darken(darkcyan, 5%);
    }

    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }

  &__in {
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1.3rem 1.6rem;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;

    &::after {
      background-color: darkcyan;
    }

    &::before {
      background-color: darken(darkcyan, 5%);
    }

    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }

  &__cancel {
    color: #fff;
    width: 40%;
    text-align: center;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;

    &::after {
      background-color: red;
    }

    &::before {
      background-color: darken(red, 20%);
    }

    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.3s;
    border-radius: 4px;
    z-index: -1;
  }

  &--text {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: black;

    letter-spacing: 1px;
  }
}
